<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="cssstyles.css">
    <title>My Profile</title>
</head>
<h1><b>My Profile</b></h1>
<p>
    Salut tout le monde! My name is Anne-Marcelle, 22 years old born and raised in Cote d’Ivoire ( also known as  the Ivory Coast) and educated (for the most part) in the U.S.
    am also passionate about language learning, storytelling and methods of communication that connects different cultures.
    My interest naturally culminated with a B.A. in International Relations last May from Juniata College, so you might be wondering “Why MC”?
</p>
<p>
    Well, long story short: I was curious about the role that technology plays in facilitating information exchange and,
    LO and BEHOLD – the Workforce Development Continuing Education (WDCE) at MC offered hands-on training in coding, data analytics, and other IT related fields – at NO COST.
</p>
<p>
    Being in the WDCE has been a truly transformative experience for me,
    and it's  a journey that I'll be happy to share with you all.
    Stay tune for new updates!"
</p>
<b>Contact Info</b>
<ul>
    <li>
        LinkedIn: https://www.linkedin.com/in/anne-marcelle-kouame/
        Facebook:
        Github: https://github.com/kouamax15
        Youtube:
        WordPress: https://annemarcellegambiatrip.wordpress.com/
        Other Blogs: http://juniataadmission.com/author/kouamax15/
    </li>
</ul>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>