<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="cssstyles.css">
    <title>Entry1</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">My MC Java Blog</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Blog Entries
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/entry1">Entry 1</a></li>
                        <li><a href="/entry2">Entry 2</a></li>
                        <li><a href="/entry3">Entry 3</a></li>
                    </ul>
                </li>
                <li></li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutjava">AboutJava</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authorprofile">Author</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<h1><b>Coding Dreams</b></h1>
<p>Coding is indeed a language.
    I realized this fact after having, what appeared to be, my first “coding” dream.
    I started to learn to how to code not too long when I took the Java Mini Bootcamp back in August.
    The course was one of the tuition-free job training programs designed to strengthen the workforce in the Information Technology (IT) and Cybersecurity industries. </p>
<p>
    I came into the program having no prior coding experience. I
    only had my background in international studies and my wish to develop more digestible and engaging ways for people to exchange knowledge,
    connect with one another and understand the complex global connections that shape our world. I also understood that technology plays a key role in facilitating information sharing
    and breaking down complex issues and ideas in the simplest of ways.
    Hence, I thought that the Bootcamp would enable me to unlock insights and connections between IT and my previous fields of interests.
</p>
<a href="https://res.cloudinary.com/dyy4yedej/image/upload/v1569598143/dreaming_in_codes_hjcbfg.jpg">Source</a> <img src="https://images.penguinrandomhouse.com/cover/700jpg/9781984888983" class="img-rounded" alt="Cinque Terre">



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>