<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="cssstyles.css">
    <title>Homepage</title>

</head>
<body>
<!--    NAVBAR STARTS-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MC Java Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog Entries
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/entry1">Entry 1</a></li>
                    <li><a href="/entry2">Entry 2</a></li>
                    <li><a href="/entry3">Entry 3</a></li>
                </ul>
            </li>
            <li><a href="/aboutjava">About the Java Bootcamp</a></li>
            <li><a href="/authorprofile">Author Profile</a></li>
        </ul>
    </div>
</nav>

<!--    NAVBARENDS-->

<!--HOMEPAGE INFO STARTS-->

<h1><b>My Java Bootcamp Experience</b></h1>
<h3><b>Entry 1...<a href="/entry1">View More</a></b></h3>

<h3><b>Entry 2...<a href="/entry2">View More</a></b></h3>
<h3><b>Entry 3...<a href="/entry3">View More</a></b></h3>

<!--HOMEPAGE INFO END-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>